.hyperlinks {
  color: green;
}

a {
  color: rgba(253, 149, 90, 0.8);
  text-decoration: none;
}

#typewriter4 {
  font-size: 2em;
  margin: 0;
  font-family: "Courier New";
  color: white;
}
#typewriter4:after {
  content: "|";
  -webkit-animation: blink 500ms linear infinite alternate;
  animation: blink 500ms linear infinite alternate;
}

@-webkit-keyframes blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
